<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{url_for('.static',filename='css/styles.css') }}">
</head>
<body>

  <div class="title">Title
  
  <div class="first">
    <img class="img1" src="{{ user_image[0] }}">
    This is where the text for the first project will go.
  </div>

  <div class="second">
    <img class="img2" src="{{ user_image[1] }}">
    This is where the text for the second project will go.
  </div>

  <div class="third">
    <img class="img3" src="{{ user_image[2] }}">
    This is where the text for the third project will go.
  </div>

  </div>

</body>
</html>